Repository randolf-scholz/assorted-hooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-imported-attributes, no-mixed-args, jupyter-clear-output, pyproject-validate-version, pyproject-check-deps

Path conditions:
  check-imported-attributes: any of: (^src/|^tests/) and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  no-mixed-args: any of: (^src/|^tests/) and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  jupyter-clear-output: any of: \.ipynb$, but not: (\.git/|\.venv/|\.idea/|\docs/_build/)
  pyproject-validate-version: any of: ^pyproject\.toml$, but not: (\.git/|\.venv/|\.idea/|\docs/_build/)
  pyproject-check-deps: any of: ^pyproject\.toml$, but not: (\.git/|\.venv/|\.idea/|\docs/_build/)

version bump
  pyproject.toml
Due: pyproject-validate-version, pyproject-check-deps

exit message
  src/assorted_hooks/no_mixed_args.py
Due: check-imported-attributes, no-mixed-args

updated no-mixed-args
  README.md
  pyproject.toml
  src/assorted_hooks/no_mixed_args.py
Due: check-imported-attributes, no-mixed-args, pyproject-validate-version, pyproject-check-deps

added pygrep hooks
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  README.md
  src/assorted_hooks/no_mixed_args.py
  tests/test_no_mixed_args.py
Due: check-imported-attributes, no-mixed-args

renamed hooks
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  README.md
  pyproject.toml
Due: pyproject-validate-version, pyproject-check-deps

fixed name
  .pre-commit-hooks.yaml
Due: none

added prefer-abc-typing
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  pyproject.toml
  src/assorted_hooks/check_imported_attributes.py
  src/assorted_hooks/no_mixed_args.py
  src/assorted_hooks/prefer_abc_typing.py
Due: check-imported-attributes, no-mixed-args, pyproject-validate-version, pyproject-check-deps

added prefer-abc-typing
  pyproject.toml
Due: pyproject-validate-version, pyproject-check-deps

added --ignore-dunder
  pyproject.toml
  src/assorted_hooks/no_mixed_args.py
Due: check-imported-attributes, no-mixed-args, pyproject-validate-version, pyproject-check-deps

added --ignore-dunder
  README.md
Due: none

added --ignore-private and fixed allow-one bug
  README.md
  pyproject.toml
  src/assorted_hooks/no_mixed_args.py
Due: check-imported-attributes, no-mixed-args, pyproject-validate-version, pyproject-check-deps

added --ignore-decorators
  README.md
  pyproject.toml
  src/assorted_hooks/no_mixed_args.py
Due: check-imported-attributes, no-mixed-args, pyproject-validate-version, pyproject-check-deps

fixed decorator Call
  src/assorted_hooks/no_mixed_args.py
Due: check-imported-attributes, no-mixed-args

modified updated-dependencies to only match leading version specifier
  src/assorted_hooks/pyproject_update_dependencies.py
Due: check-imported-attributes, no-mixed-args

added check-separator-length
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  README.md
Due: none

removed jupyter-clear-output, use nbstripout-fast instead
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  README.md
  pyproject.toml
Due: pyproject-validate-version, pyproject-check-deps

renamed and updated standard-generics hook
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  pyproject.toml
  src/assorted_hooks/check_standard_generics.py
  src/assorted_hooks/prefer_abc_typing.py
Due: check-imported-attributes, no-mixed-args, pyproject-validate-version, pyproject-check-deps

renamed
  pyproject.toml
  src/assorted_hooks/check_no_mixed_args.py
  tests/test_no_mixed_args.py
Due: check-imported-attributes, no-mixed-args, pyproject-validate-version, pyproject-check-deps

added --error-superfluous-test-deps option
  pyproject.toml
  src/assorted_hooks/pyproject_check_dependencies.py
Due: check-imported-attributes, no-mixed-args, pyproject-validate-version, pyproject-check-deps

updated regexes
  src/assorted_hooks/pyproject_update_dependencies.py
  src/assorted_hooks/pyproject_validate_version.py
Due: check-imported-attributes, no-mixed-args

updated regex
  pyproject.toml
  src/assorted_hooks/pyproject_update_dependencies.py
Due: check-imported-attributes, no-mixed-args, pyproject-validate-version, pyproject-check-deps

added __all__ check
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  README.md
  pyproject.toml
  src/assorted_hooks/check__all__exists.py
  src/assorted_hooks/check_standard_generics.py
Due: check-imported-attributes, no-mixed-args, pyproject-validate-version, pyproject-check-deps

updated README
  README.md
Due: none

fixed __future__ import __all__ location
  README.md
  pyproject.toml
  src/assorted_hooks/check__all__exists.py
Due: check-imported-attributes, no-mixed-args, pyproject-validate-version, pyproject-check-deps

added --autofix option to pyproject-update-deps. Does not write file if contents identical
  .idea/misc.xml
  pyproject.toml
  src/assorted_hooks/pyproject_check_dependencies.py
  src/assorted_hooks/pyproject_update_dependencies.py
Due: check-imported-attributes, no-mixed-args, pyproject-validate-version, pyproject-check-deps

udpated hooks
  .pre-commit-config.yaml
Due: none

updated hooks
  .pre-commit-config.yaml
Due: none

updated CLI
  .pre-commit-config.yaml
  src/assorted_hooks/check__all__exists.py
  src/assorted_hooks/check_imported_attributes.py
  src/assorted_hooks/check_no_mixed_args.py
  src/assorted_hooks/check_standard_generics.py
  src/assorted_hooks/pyproject_check_dependencies.py
  src/assorted_hooks/pyproject_update_dependencies.py
  src/assorted_hooks/pyproject_validate_version.py
Due: check-imported-attributes, no-mixed-args

pre-commit hook
  .pre-commit-config.yaml
Due: none

refactored scripts
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  pyproject.toml
  src/assorted_hooks/check__all__exists.py
  src/assorted_hooks/check_tests_folder_structure.py
  src/assorted_hooks/scripts/__init__.py
  src/assorted_hooks/scripts/pyproject_check_dependencies.py
  src/assorted_hooks/scripts/pyproject_update_dependencies.py
  src/assorted_hooks/scripts/pyproject_validate_version.py
Due: check-imported-attributes, no-mixed-args, pyproject-validate-version, pyproject-check-deps

small updates
  src/assorted_hooks/check__all__exists.py
  src/assorted_hooks/check_imported_attributes.py
  src/assorted_hooks/check_tests_folder_structure.py
  src/assorted_hooks/check_typing_style.py
Due: check-imported-attributes, no-mixed-args

try-except block around process_file
  pyproject.toml
  src/assorted_hooks/check__all__exists.py
  src/assorted_hooks/check_imported_attributes.py
  src/assorted_hooks/check_no_mixed_args.py
  src/assorted_hooks/check_standard_generics.py
Due: check-imported-attributes, no-mixed-args, pyproject-validate-version, pyproject-check-deps

fixed imported_attributes node selection
  pyproject.toml
  src/assorted_hooks/check_imported_attributes.py
Due: check-imported-attributes, no-mixed-args, pyproject-validate-version, pyproject-check-deps

updated check_dependencies
  pyproject.toml
  src/assorted_hooks/scripts/pyproject_check_dependencies.py
Due: check-imported-attributes, no-mixed-args, pyproject-validate-version, pyproject-check-deps

renamed args
  src/assorted_hooks/scripts/pyproject_check_dependencies.py
Due: check-imported-attributes, no-mixed-args

updated and fixed few bugs
  pdm.lock
  pyproject.toml
  src/assorted_hooks/check_imported_attributes.py
  src/assorted_hooks/check_no_mixed_args.py
  src/assorted_hooks/check_standard_generics.py
  src/assorted_hooks/check_typing_style.py
  src/assorted_hooks/scripts/pyproject_update_dependencies.py
  src/assorted_hooks/scripts/pyproject_validate_version.py
  src/assorted_hooks/utils.py
Due: check-imported-attributes, no-mixed-args, pyproject-validate-version, pyproject-check-deps
