Repository randolf-scholz/assorted-hooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

Path conditions:
  pyproject-validate-version: any of: ^pyproject\.toml$ and \.toml$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  pyproject-check-deps: any of: ^pyproject\.toml$ and \.toml$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-check-clean-interface: any of: ^src/ and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  check-separator-length: any of: (^src/|^tests/) and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-no-blanket-type-ignore: any of: (^src/|^tests/) and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-no-builtin-eval: any of: (^src/|^tests/) and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-use-imported-attributes: any of: (^src/|^tests/) and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-check-no-mixed-args: any of: (^src/|^tests/) and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-check-standard-generics: any of: (^src/|^tests/) and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-check-dunder-all-exists: any of: ^src/ and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-check-typing: any of: \.py$, but not: (\.git/|\.venv/|\.idea/|\docs/_build/)

updated deps
  pyproject.toml
Due: pyproject-validate-version, pyproject-check-deps

updated deps
  .pre-commit-config.yaml
  pdm.lock
  pyproject.toml
Due: pyproject-validate-version, pyproject-check-deps

fixed direct imports
  dev/get_package_version_dates.ipynb
  pyproject.toml
  src/assorted_hooks/ast/base.py
  src/assorted_hooks/ast/check_direct_imports.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

exclude lacheck @ symbol error
  src/lacheck_wrapper.sh
Due: none

version bump
  pyproject.toml
Due: pyproject-validate-version, pyproject-check-deps

patched lacheck
  pyproject.toml
  src/lacheck_wrapper.sh
Due: pyproject-validate-version, pyproject-check-deps

added PEP 735 compliance to dependency checks
  .pre-commit-config.yaml
  pdm.lock
  pyproject.toml
  src/assorted_hooks/scripts/pyproject_check_dependencies.py
  src/assorted_hooks/scripts/pyproject_check_unmaintained.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

wip
  .pre-commit-hooks.yaml
  pyproject.toml
  src/assorted_hooks/check_archived_hooks.py
  src/assorted_hooks/check_github_issues.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

added test script for archived hooks
  tests/test_check_archived_hooks.sh
  tests/test_check_github_issues.sh
Due: none

made archived hooks non-manual
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
Due: none

updated README + CHANGELOG
  CHANGELOG.md
  README.md
Due: none

added check for local/meta repo and error handling if github lookup fails.
  .pre-commit-config.yaml
  pyproject.toml
  src/assorted_hooks/check_archived_hooks.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

cleanup
  src/assorted_hooks/check_archived_hooks.py
Due: python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

fixed repository identification
  .pre-commit-config.yaml
  pyproject.toml
  src/assorted_hooks/check_archived_hooks.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

added tight timeout
  pyproject.toml
  src/assorted_hooks/check_archived_hooks.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

added handling if rate limit exceeded
  pyproject.toml
  src/assorted_hooks/check_archived_hooks.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

added rate limit check to github issues
  .pre-commit-config.yaml
  src/assorted_hooks/check_archived_hooks.py
  src/assorted_hooks/check_github_issues.py
Due: python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

updated
  .pdm-python
  .pre-commit-config.yaml
  pdm.lock
  pyproject.toml
  requirements.txt
  src/assorted_hooks/scripts/pyproject_check_unmaintained.py
  uv.lock
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

refactored, added packaging
  .gitignore
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  .vscode/settings.json
  pyproject.toml
  reports/pytest.xml
  requirements.txt
  src/assorted_hooks/ast/ast_utils.py
  src/assorted_hooks/ast/base.py
  src/assorted_hooks/ast/pyproject_check_dependencies.py
  src/assorted_hooks/check_archived_hooks.py
  src/assorted_hooks/check_github_issues.py
  src/assorted_hooks/pyproject_check_unmaintained.py
  src/assorted_hooks/pyproject_validate_version.py
  src/assorted_hooks/scripts/pyproject_check_dependencies.py
  src/assorted_hooks/scripts/pyproject_update_dependencies.py
  src/assorted_hooks/utils.py
  tests/assorted_hooks/test_check_unmaintained.py
  tests/test_all.sh
  uv.lock
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

rename hooks
  .pre-commit-hooks.yaml
  pyproject.toml
  src/assorted_hooks/__init__.py
  src/assorted_hooks/ast/check_requirement_usage.py
  src/assorted_hooks/check_pyproject_requirements.py
  src/assorted_hooks/check_pyproject_unmaintained.py
  src/assorted_hooks/pyproject_validate_version.py
  src/assorted_hooks/utils.py
  tests/assorted_hooks/test_check_unmaintained.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

v0.4.0
  .pre-commit-hooks.yaml
  pyproject.toml
  requirements.txt
  src/assorted_hooks/scripts/update_pyproject_requirements.py
  uv.lock
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

added check-separator-length variants for 80, 100, 120
  .pre-commit-hooks.yaml
  pyproject.toml
  uv.lock
Due: pyproject-validate-version, pyproject-check-deps

renamed hooks
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  pyproject.toml
  src/assorted_hooks/__init__.py
  src/assorted_hooks/ast/ast_utils.py
  src/assorted_hooks/check_pyproject_requirements_maintained.py
  src/assorted_hooks/check_pyproject_requirements_used.py
  src/assorted_hooks/check_pyproject_requirements_valid.py
  tests/assorted_hooks/test_check_unmaintained.py
  uv.lock
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

refactored requirements-used check
  src/assorted_hooks/check_pyproject_requirements_maintained.py
  src/assorted_hooks/check_pyproject_requirements_used.py
  src/assorted_hooks/utils.py
Due: python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

updated
  src/assorted_hooks/check_pyproject_requirements_used.py
  src/assorted_hooks/utils.py
Due: python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

wip
  .pre-commit-hooks.yaml
  pyproject.toml
  src/assorted_hooks/__init__.py
  src/assorted_hooks/check_pyproject_requirements_used.py
  src/assorted_hooks/scripts/check_clean_interface.py
  src/assorted_hooks/scripts/check_pyproject_requirements_used.py
  src/assorted_hooks/scripts/update_pyproject_requirements.py
  src/assorted_hooks/utils.py
  tests/test_check_pyproject_requirements_used.sh
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

version bump
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: pyproject-validate-version, pyproject-check-deps

0.4.3 added line length to check-separator-length
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  pyproject.toml
Due: pyproject-validate-version, pyproject-check-deps

major refactor
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  README.md
  docs/check_archived_hooks.md
  docs/check_resolved_github_issues.md
  docs/latex/chktex.md
  docs/latex/lacheck.md
  docs/pygrep/check_separator_length.md
  docs/pygrep/pyarrow_timestamp_seconds.md
  docs/pygrep/python_consider_using_raw_string.md
  docs/pygrep/python_match_case_builtins.md
  docs/pygrep/python_no_blanket_type_ignore.md
  docs/pygrep/python_no_builtin_eval.md
  docs/pygrep/python_rename_axes_axis.md
  docs/pygrep/python_system_exit.md
  docs/pyright_concise.md
  docs/python/check_clean_interface.md
  docs/python/check_direct_imports.md
  docs/python/check_dunder_all.md
  docs/python/check_no_mixed_args.md
  docs/python/check_requirements_maintained.md
  docs/python/check_requirements_used.md
  docs/python/check_requirements_valid.md
  docs/python/check_standard_generics.md
  docs/python/check_typing.md
  docs/python/update_requirements.md
  pyproject.toml
  src/assorted_hooks/__init__.py
  src/assorted_hooks/check_github_issues.py
  src/assorted_hooks/check_requirements_maintained.py
  src/assorted_hooks/check_requirements_valid.py
  src/assorted_hooks/scripts/check_requirements_used.py
  src/assorted_hooks/scripts/update_requirements.py
  tests/assorted_hooks/test_check_unmaintained.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

ran pre-commit on self
  .pre-commit-config.yaml
  README.md
  docs/pygrep/pyarrow_timestamp_seconds.md
  docs/pygrep/python_consider_using_raw_string.md
  uv.lock
Due: none

renaming
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  pyproject.toml
Due: pyproject-validate-version, pyproject-check-deps

updated lock
  uv.lock
Due: none

patched check-requirements-used hook
  pyproject.toml
  src/assorted_hooks/scripts/check_requirements_used.py
  uv.lock
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

patched requirements used hook
  pyproject.toml
  src/assorted_hooks/scripts/check_requirements_used.py
  tests/test_check_pyproject_requirements_used.sh
  tests/test_check_requirements_used.sh
  uv.lock
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

patched requirements used hook
  pyproject.toml
  src/assorted_hooks/scripts/check_requirements_used.py
  uv.lock
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

added exclude option
  .vscode/settings.json
  pyproject.toml
  src/assorted_hooks/check_requirements_maintained.py
  tests/assorted_hooks/test_check_unmaintained.py
  uv.lock
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

Use importlib.metadata instead of pip - the latter fails if pip not present in the virtual environment.
  .pre-commit-config.yaml
  src/assorted_hooks/scripts/update_requirements.py
Due: python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

fixed update-requirements
  pyproject.toml
  reports/pytest.xml
  requirements.txt
  src/assorted_hooks/check_requirements_maintained.py
  tests/test_check_update_requirements.sh
  uv.lock
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing
