Repository randolf-scholz/assorted-hooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

Path conditions:
  pyproject-validate-version: any of: ^pyproject\.toml$ and \.toml$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  pyproject-check-deps: any of: ^pyproject\.toml$ and \.toml$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-check-clean-interface: any of: ^src/ and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  check-separator-length: any of: (^src/|^tests/) and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-no-blanket-type-ignore: any of: (^src/|^tests/) and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-no-builtin-eval: any of: (^src/|^tests/) and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-use-imported-attributes: any of: (^src/|^tests/) and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-check-no-mixed-args: any of: (^src/|^tests/) and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-check-standard-generics: any of: (^src/|^tests/) and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-check-dunder-all-exists: any of: ^src/ and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-check-typing: any of: \.py$, but not: (\.git/|\.venv/|\.idea/|\docs/_build/)

fixed groups
  pyproject.toml
Due: pyproject-validate-version, pyproject-check-deps

added --allow-two option
  src/assorted_hooks/ast/check_no_mixed_args.py
Due: python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

added --allow-two option
  .pre-commit-config.yaml
  pdm.lock
  pyproject.toml
  src/assorted_hooks/ast/check_no_mixed_args.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

made --allow-one and --allow-two work when there are po arguments
  README.md
  pyproject.toml
  src/assorted_hooks/ast/check_no_mixed_args.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

erroron undeclated vars
  src/assorted_hooks/scripts/check_clean_interface.py
  tests/test.sh
Due: python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

Fixed check-check-interface. wasn't rigorously checking __init__.py files before
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  pdm.lock
  pyproject.toml
  src/assorted_hooks/ast/check_dunder_all.py
  src/assorted_hooks/scripts/check_clean_interface.py
  src/assorted_hooks/utils.py
  tests/test.sh
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

fixed cannot import is_dunder
  .pre-commit-config.yaml
  pyproject.toml
  src/assorted_hooks/scripts/check_clean_interface.py
  src/assorted_hooks/utils.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

fixed pre-commit
  src/assorted_hooks/scripts/check_clean_interface.py
Due: python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

update blanket ignore to also work with pyright
  .pre-commit-hooks.yaml
  pyproject.toml
Due: pyproject-validate-version, pyproject-check-deps

updated pre-commit
  .pre-commit-config.yaml
  pyproject.toml
  src/assorted_hooks/check_github_issues.py
  src/assorted_hooks/parser.py
  src/assorted_hooks/scripts/check_clean_interface.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

updated deps
  pdm.lock
Due: none

more debug info
  .pre-commit-config.yaml
  pdm.lock
  pyproject.toml
  src/assorted_hooks/scripts/pyproject_check_dependencies.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

wip
  src/assorted_hooks/scripts/pyproject_check_dependencies.py
Due: python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

Added beginning of file check for raw strig regex
  .pre-commit-hooks.yaml
  pyproject.toml
Due: pyproject-validate-version, pyproject-check-deps

Changed defaults for no-mixed-args.
  pyproject.toml
  src/assorted_hooks/ast/check_no_mixed_args.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

warn datetime64[s] timestamps
  .pre-commit-hooks.yaml
  pyproject.toml
Due: pyproject-validate-version, pyproject-check-deps

added pyright-concise
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  README.md
  pdm.lock
  pyproject.toml
Due: pyproject-validate-version, pyproject-check-deps

updated sys exit hook
  .pre-commit-hooks.yaml
  pyproject.toml
Due: pyproject-validate-version, pyproject-check-deps

refacted check_deps
  .pre-commit-config.yaml
  pyproject.toml
  src/assorted_hooks/__init__.py
  src/assorted_hooks/ast/__init__.py
  src/assorted_hooks/ast/_clean_namespace.py
  src/assorted_hooks/ast/_unimplemented_check_tests_folder_structure.py
  src/assorted_hooks/ast/_unimplemented_check_typing_style.py
  src/assorted_hooks/ast/ast_utils.py
  src/assorted_hooks/ast/check_direct_imports.py
  src/assorted_hooks/ast/check_dunder_all.py
  src/assorted_hooks/ast/check_numpy.py
  src/assorted_hooks/ast/check_standard_generics.py
  src/assorted_hooks/check_github_issues.py
  src/assorted_hooks/parser.py
  src/assorted_hooks/scripts/__init__.py
  src/assorted_hooks/scripts/pyproject_check_dependencies.py
  src/assorted_hooks/utils.py
  tests/__init__.py
  tests/assorted_hooks/__init__.py
  tests/assorted_hooks/check_typing/__init__.py
  tests/assorted_hooks/check_typing/test_check_optional.py
  tests/assorted_hooks/check_typing/test_isinstance_union_tuple.py
  tests/assorted_hooks/check_typing/test_no_future_annotations.py
  tests/assorted_hooks/check_typing/test_no_hints_overload_implementation.py
  tests/assorted_hooks/check_typing/test_no_return_union.py
  tests/assorted_hooks/check_typing/test_overload_default_ellipsis.py
  tests/assorted_hooks/check_typing/test_pep604_union.py
  tests/test.sh
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

really ugly patch
  pyproject.toml
  src/assorted_hooks/scripts/pyproject_check_dependencies.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

added lacheck wrapper
  .pre-commit-hooks.yaml
  pyproject.toml
  src/lacheck_wrapper.sh
Due: pyproject-validate-version, pyproject-check-deps

patched lacheck
  .pre-commit-hooks.yaml
  pyproject.toml
Due: pyproject-validate-version, pyproject-check-deps

patched lacheck
  .pre-commit-hooks.yaml
  pyproject.toml
  tests/demo.tex
Due: pyproject-validate-version, pyproject-check-deps

made lacheck a script
  .pre-commit-hooks.yaml
  pyproject.toml
Due: pyproject-validate-version, pyproject-check-deps

fixed lacheck exit code
  pyproject.toml
  src/lacheck_wrapper.sh
Due: pyproject-validate-version, pyproject-check-deps

lacheck ignore style file errors
  pyproject.toml
  src/lacheck_wrapper.sh
Due: pyproject-validate-version, pyproject-check-deps

added match-case test
  .pre-commit-hooks.yaml
  pyproject.toml
Due: pyproject-validate-version, pyproject-check-deps

added python-match-case-builtin
  .pre-commit-config.yaml
  README.md
  pdm.lock
  pyproject.toml
  src/assorted_hooks/ast/check_standard_generics.py
  src/assorted_hooks/ast/check_typing.py
  src/assorted_hooks/scripts/pyproject_check_dependencies.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

updated match-case to check for .
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  pyproject.toml
Due: pyproject-validate-version, pyproject-check-deps

reverted false check
  .pre-commit-hooks.yaml
Due: none

fixed bug resulting from redirecting to None, redirecting to os.devnull instead
  src/assorted_hooks/scripts/check_clean_interface.py
  src/assorted_hooks/scripts/pyproject_check_dependencies.py
Due: python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

wip
  pyproject.toml
  src/assorted_hooks/scripts/check_deprecated_dependencies.py
  src/assorted_hooks/scripts/pyproject_check_dependencies.py
  src/assorted_hooks/utils.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

updated deps
  .pre-commit-config.yaml
  pdm.lock
Due: none

wip
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  pdm.lock
  pyproject.toml
  src/assorted_hooks/scripts/check_deprecated_dependencies.py
  src/assorted_hooks/scripts/pyproject_check_dependencies.py
  src/assorted_hooks/scripts/pyproject_check_unmaintained_dependencies.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

wip
  .pre-commit-hooks.yaml
Due: none

wip
  src/assorted_hooks/scripts/pyproject_check_unmaintained.py
Due: python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

marked executable
  src/assorted_hooks/scripts/pyproject_check_unmaintained.py
Due: python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

fixed regex
  src/assorted_hooks/scripts/pyproject_check_unmaintained.py
Due: python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

exclude project name from locals
  src/assorted_hooks/scripts/pyproject_check_unmaintained.py
Due: python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

updated
  pdm.lock
  pyproject.toml
  src/assorted_hooks/scripts/pyproject_check_unmaintained.py
  tests/assorted_hooks/test_check_unmaintained.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing
