Repository randolf-scholz/assorted-hooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyproject-validate-version, pyproject-check-deps, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-__all__-exists

Path conditions:
  pyproject-validate-version: any of: ^pyproject\.toml$ and \.toml$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  pyproject-check-deps: any of: ^pyproject\.toml$ and \.toml$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  check-separator-length: any of: (^src/|^tests/) and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-no-blanket-type-ignore: any of: (^src/|^tests/) and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-no-builtin-eval: any of: (^src/|^tests/) and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-use-imported-attributes: any of: (^src/|^tests/) and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-check-no-mixed-args: any of: (^src/|^tests/) and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-check-standard-generics: any of: (^src/|^tests/) and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-check-__all__-exists: any of: ^src/ and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))

wip
  src/assorted_hooks/scripts/pyproject_check_dependencies.py
  src/assorted_hooks/scripts/pyproject_update_dependencies.py
Due: check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-__all__-exists

some ideas for future checks
  src/assorted_hooks/_unimplemented_check_clean_interface.py
  src/assorted_hooks/_unimplemented_check_tests_folder_structure.py
  src/assorted_hooks/_unimplemented_check_typing_style.py
Due: check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-__all__-exists

added lists of builtins
  src/assorted_hooks/utils.py
Due: check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-__all__-exists

added check-clean-interface
  .idea/misc.xml
  .idea/watcherTasks.xml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  README.md
  pyproject.toml
  src/assorted_hooks/_unimplemented_check_clean_interface.py
  src/assorted_hooks/check__all__exists.py
  src/assorted_hooks/check_imported_attributes.py
  src/assorted_hooks/check_no_mixed_args.py
  src/assorted_hooks/check_standard_generics.py
  src/assorted_hooks/scripts/check_clean_interface.py
  src/assorted_hooks/scripts/pyproject_update_dependencies.py
  src/assorted_hooks/utils.py
Due: pyproject-validate-version, pyproject-check-deps, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-__all__-exists

small edit
  .pre-commit-config.yaml
Due: none

silent loading
  pyproject.toml
  src/assorted_hooks/scripts/check_clean_interface.py
Due: pyproject-validate-version, pyproject-check-deps, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-__all__-exists

require-serial
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  pyproject.toml
Due: pyproject-validate-version, pyproject-check-deps

added dummy impl for ignoring imported variables
  src/assorted_hooks/scripts/check_clean_interface.py
Due: check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-__all__-exists

updated README
  README.md
Due: none

patched update deps
  pdm.lock
  pyproject.toml
  src/assorted_hooks/scripts/pyproject_update_dependencies.py
Due: pyproject-validate-version, pyproject-check-deps, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-__all__-exists

fixed underscore/dash confusion
  .pre-commit-config.yaml
  pyproject.toml
  src/assorted_hooks/scripts/pyproject_update_dependencies.py
Due: pyproject-validate-version, pyproject-check-deps, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-__all__-exists

added python-consider-using-raw-string
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  README.md
  pyproject.toml
  tests/test_raw_strings.py
Due: pyproject-validate-version, pyproject-check-deps, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics

added check-typing
  .idea/misc.xml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  README.md
  pyproject.toml
  src/assorted_hooks/check_typing.py
Due: pyproject-validate-version, pyproject-check-deps, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-__all__-exists

use match-case for AST parsing
  pdm.lock
  src/assorted_hooks/check__all__exists.py
  src/assorted_hooks/check_imported_attributes.py
  src/assorted_hooks/check_no_mixed_args.py
  src/assorted_hooks/check_standard_generics.py
Due: check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-__all__-exists

fixed return union check
  pyproject.toml
  src/assorted_hooks/check_typing.py
Due: pyproject-validate-version, pyproject-check-deps, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-__all__-exists

updated scripts to report number of violations
  pyproject.toml
  src/assorted_hooks/check__all__exists.py
  src/assorted_hooks/check_imported_attributes.py
  src/assorted_hooks/check_no_mixed_args.py
  src/assorted_hooks/check_standard_generics.py
  src/assorted_hooks/check_typing.py
  src/assorted_hooks/scripts/check_clean_interface.py
Due: pyproject-validate-version, pyproject-check-deps, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-__all__-exists

added some more ideas.
  src/assorted_hooks/_unimplemented_check_typing_style.py
Due: check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-__all__-exists

updated check-typing
  .pre-commit-config.yaml
  README.md
  pdm.lock
  pyproject.toml
  src/assorted_hooks/_clean_namespace.py
  src/assorted_hooks/check_typing.py
  src/assorted_hooks/parser.py
  tests/assorted_hooks/check_typing/test_check_optional.py
  tests/assorted_hooks/check_typing/test_no_return_union.py
  tests/assorted_hooks/check_typing/test_overload_default_ellipsis.py
  tests/assorted_hooks/check_typing/test_pep604_union.py
  tests/assorted_hooks/reports/pytest.xml
  tests/reports/pytest.xml
  tests/test_no_mixed_args.py
  tests/test_raw_strings.py
Due: pyproject-validate-version, pyproject-check-deps, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-__all__-exists

fixed ellipsis check
  pyproject.toml
  src/assorted_hooks/check_typing.py
  tests/assorted_hooks/check_typing/test_overload_default_ellipsis.py
  tests/assorted_hooks/reports/pytest.xml
  tests/reports/pytest.xml
Due: pyproject-validate-version, pyproject-check-deps, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-__all__-exists

check no future annotations
  README.md
  pyproject.toml
  src/assorted_hooks/check_typing.py
  tests/assorted_hooks/check_typing/test_no_future_annotations.py
  tests/reports/pytest.xml
Due: pyproject-validate-version, pyproject-check-deps, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-__all__-exists

added check-no-hints-overload-implementation test
  README.md
  pyproject.toml
  src/assorted_hooks/check_typing.py
  tests/assorted_hooks/check_typing/test_no_hints_overload_implementation.py
  tests/reports/pytest.xml
Due: pyproject-validate-version, pyproject-check-deps, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-__all__-exists

fixed check-no-hints-overload-implementation by reworking implementation to check namespaces spearately
  pyproject.toml
  src/assorted_hooks/check_typing.py
  tests/assorted_hooks/check_typing/test_no_hints_overload_implementation.py
  tests/reports/pytest.xml
Due: pyproject-validate-version, pyproject-check-deps, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-__all__-exists

added check-no-tuples-isinstance
  README.md
  pyproject.toml
  src/assorted_hooks/check_typing.py
  tests/assorted_hooks/check_typing/test_isinstance_union_tuple.py
  tests/reports/pytest.xml
Due: pyproject-validate-version, pyproject-check-deps, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-__all__-exists

fixed eval check
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  pyproject.toml
  src/assorted_hooks/_unimplemented_check_typing_style.py
  tests/assorted_hooks/check_typing/reports/pytest.xml
Due: pyproject-validate-version, pyproject-check-deps, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-__all__-exists

added typing_extensions aliases
  pyproject.toml
  src/assorted_hooks/check_standard_generics.py
Due: pyproject-validate-version, pyproject-check-deps, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-__all__-exists

simplifications
  .idea/misc.xml
  .pre-commit-config.yaml
  README.md
  pdm.lock
  pyproject.toml
  src/assorted_hooks/_unimplemented_check_clean_interface.py
  src/assorted_hooks/check__all__exists.py
  src/assorted_hooks/check_imported_attributes.py
  src/assorted_hooks/check_no_mixed_args.py
  src/assorted_hooks/check_standard_generics.py
  src/assorted_hooks/scripts/pyproject_check_dependencies.py
  src/assorted_hooks/scripts/pyproject_update_dependencies.py
  src/assorted_hooks/scripts/pyproject_validate_version.py
  tests/test_no_mixed_args.py
Due: pyproject-validate-version, pyproject-check-deps, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-__all__-exists

added markdownlint
  .pre-commit-config.yaml
Due: none

renamed check-__all__-exists to check-dunder-all-exists
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  README.md
  pyproject.toml
  src/assorted_hooks/check_dunder_all_exists.py
Due: pyproject-validate-version, pyproject-check-deps, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-__all__-exists

updated check-deps
  .idea/watcherTasks.xml
  pyproject.toml
  src/assorted_hooks/scripts/pyproject_check_dependencies.py
Due: pyproject-validate-version, pyproject-check-deps, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-__all__-exists

updated error text
  src/assorted_hooks/scripts/pyproject_check_dependencies.py
Due: check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-__all__-exists

ruff 0.2
  .idea/watcherTasks.xml
  .pre-commit-config.yaml
  pdm.lock
  pyproject.toml
  src/assorted_hooks/scripts/pyproject_check_dependencies.py
  src/assorted_hooks/scripts/pyproject_update_dependencies.py
  src/assorted_hooks/scripts/pyproject_validate_version.py
Due: pyproject-validate-version, pyproject-check-deps, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-__all__-exists

cleanup
  .gitignore
  .idea/assorted-hooks.iml
  LICENSE
  pyproject.toml
  src/assorted_hooks/py.typed
  tests/__init__.py
  tests/assorted_hooks/__init__.py
  tests/assorted_hooks/check_typing/__init__.py
  tests/assorted_hooks/check_typing/reports/pytest.xml
  tests/reports/pytest.xml
Due: pyproject-validate-version, pyproject-check-deps, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics

cleaned based on gitignore
  pyproject.toml
  tests/assorted_hooks/check_typing/reports/pytest.xml
  tests/reports/pytest.xml
Due: pyproject-validate-version, pyproject-check-deps

fixed bug
  pyproject.toml
  src/assorted_hooks/scripts/pyproject_check_dependencies.py
Due: pyproject-validate-version, pyproject-check-deps, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-__all__-exists

wip
  .idea/.gitignore
  .idea/assorted-hooks.iml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
Due: none

wip
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  src/assorted_hooks/check_dunder_all_exists.py
  src/assorted_hooks/check_imported_attributes.py
  src/assorted_hooks/check_no_mixed_args.py
  src/assorted_hooks/check_standard_generics.py
  src/assorted_hooks/check_typing.py
  src/assorted_hooks/parser.py
  src/assorted_hooks/scripts/check_clean_interface.py
  src/assorted_hooks/scripts/pyproject_check_dependencies.py
  src/assorted_hooks/scripts/pyproject_update_dependencies.py
  src/assorted_hooks/scripts/pyproject_validate_version.py
  src/assorted_hooks/utils.py
Due: check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-__all__-exists

added test script
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  pyproject.toml
  tests/test.sh
Due: pyproject-validate-version, pyproject-check-deps

updated hooks
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
Due: none

v0.1.55
  pyproject.toml
Due: pyproject-validate-version, pyproject-check-deps
