Repository randolf-scholz/assorted-hooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

pyproject-validate-version:
  name: pyproject-validate-version
  entry: ./src/assorted_hooks/scripts/pyproject_validate_version.py
  language: script
  description: Validate python version (PEP-440).

pyproject-check-deps:
  name: pyproject-check-deps
  entry: ./src/assorted_hooks/scripts/pyproject_check_dependencies.py
  language: script
  description: Check that listed dependencies are used in code and vice-versa.

python-check-clean-interface:
  name: python-check-clean-interface
  entry: ./src/assorted_hooks/scripts/check_clean_interface.py
  require_serial: true
  language: script
  description: Check for clean interface.

check-separator-length:
  name: check-separator-length
  entry: ^#(.{0,83}|.{85,})([-=═─—])\2{2}$
  language: pygrep
  description: 'Check that ''line-break''-comments are the right length (default: 88).'

python-no-blanket-type-ignore:
  name: python-no-blanket-type-ignore
  entry: '.# *type: *ignore(?!\[)'
  language: pygrep
  description: 'Enforce that `# type: ignore` annotations always specify codes.'

python-no-builtin-eval:
  name: python-no-builtin-eval
  entry: (?<!def\s)(?<!\.)\b(builtins\.)?(eval\()
  language: pygrep
  description: Disallows eval() but allows obj.eval().

python-use-imported-attributes:
  name: python-use-imported-attributes
  entry: check-imported-attributes
  language: python
  description: Checks that Bar is used instead of foo.Bar if both foo and Bar are imported.

python-check-no-mixed-args:
  name: python-check-no-mixed-args
  entry: check-no-mixed-args
  language: python
  description: Check for disallowing positional_or_keyword arguments.

python-check-standard-generics:
  name: python-check-standard-generics
  entry: check-standard-generics
  language: python
  description: 'Use standard generics (PEP-585): typing.Sequence -> abc.Sequence, typing.List -> list.'

python-check-dunder-all-exists:
  name: python-check-dunder-all-exists
  entry: check-dunder-all-exists
  language: python
  description: Check that __all__ exists.

python-check-typing:
  name: python-check-typing
  entry: check-typing
  language: python
  description: AST-based linting rule for type-hints.

added local mode
  .pre-commit-hooks.yaml
  README.md
  src/assorted_hooks/scripts/pyproject_check_unmaintained.py
Due: python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

wip
  pdm.lock
  pyproject.toml
  src/assorted_hooks/scripts/pyproject_check_unmaintained.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

fix non-local hook
  .pre-commit-hooks.yaml
  pyproject.toml
Due: pyproject-validate-version, pyproject-check-deps

improved dependency detection
  pyproject.toml
  src/assorted_hooks/scripts/pyproject_check_unmaintained.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

improved warning/errors
  pyproject.toml
  src/assorted_hooks/scripts/pyproject_check_unmaintained.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

fixed poetry parsing, imrpoved err message
  .pre-commit-config.yaml
  pyproject.toml
  src/assorted_hooks/scripts/pyproject_check_unmaintained.py
  tests/assorted_hooks/test_check_unmaintained.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

wip
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
Due: none

wip
  pyproject.toml
Due: pyproject-validate-version, pyproject-check-deps

updated conf
  .pre-commit-config.yaml
Due: none

updated authenticate
  src/assorted_hooks/check_github_issues.py
Due: python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

updated ruff checklist
  .pre-commit-hooks.yaml
  pyproject.toml
  src/assorted_hooks/ast/check_direct_imports.py
  src/assorted_hooks/ast/check_dunder_all.py
  src/assorted_hooks/ast/check_standard_generics.py
  src/assorted_hooks/check_github_issues.py
  src/assorted_hooks/parser.py
  src/assorted_hooks/scripts/check_clean_interface.py
  src/assorted_hooks/scripts/pyproject_check_dependencies.py
  src/assorted_hooks/scripts/pyproject_check_unmaintained.py
  src/assorted_hooks/scripts/pyproject_update_dependencies.py
  src/assorted_hooks/scripts/pyproject_validate_version.py
  tests/test.sh
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

updated auth code
  src/assorted_hooks/check_github_issues.py
Due: python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

updated regex to parse comments
  README.md
  pyproject.toml
  src/assorted_hooks/check_github_issues.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

updated blanket ignore hook
  .pre-commit-hooks.yaml
  README.md
  pyproject.toml
Due: pyproject-validate-version, pyproject-check-deps

updated blanket hook
  pyproject.toml
  src/assorted_hooks/scripts/pyproject_check_dependencies.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

updated readme
  .pre-commit-config.yaml
  README.md
Due: none

python3.12
  .pre-commit-config.yaml
  pdm.lock
  pyproject.toml
  src/assorted_hooks/ast/ast_utils.py
  src/assorted_hooks/ast/check_direct_imports.py
  src/assorted_hooks/ast/check_no_mixed_args.py
  src/assorted_hooks/ast/check_typing.py
  src/assorted_hooks/parser.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

cleanup
  src/assorted_hooks/ast/ast_utils.py
  src/assorted_hooks/ast/check_direct_imports.py
  src/assorted_hooks/ast/check_dunder_all.py
  src/assorted_hooks/ast/check_no_mixed_args.py
  src/assorted_hooks/ast/check_standard_generics.py
  src/assorted_hooks/ast/check_typing.py
Due: python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

exclude overload impl
  .pre-commit-config.yaml
  pyproject.toml
  src/assorted_hooks/ast/ast_utils.py
  src/assorted_hooks/ast/check_typing.py
  tests/assorted_hooks/check_typing/test_no_return_union.py
  tests/assorted_hooks/test_ast_utils.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

updated pre-commit
  .pre-commit-config.yaml
Due: none

improved error message
  .pre-commit-config.yaml
  pyproject.toml
  src/assorted_hooks/ast/ast_utils.py
  src/assorted_hooks/ast/check_typing.py
  tests/assorted_hooks/test_ast_utils.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

fixed bug in is_overload
  .pre-commit-config.yaml
  pyproject.toml
  src/assorted_hooks/ast/ast_utils.py
  src/assorted_hooks/ast/check_typing.py
  tests/assorted_hooks/test_ast_utils.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

reduced stacklevel
  pyproject.toml
  src/assorted_hooks/ast/check_typing.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

use print instead of warning
  src/assorted_hooks/ast/check_typing.py
Due: python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

updated dunder all
  .pre-commit-config.yaml
  pdm.lock
  pyproject.toml
  src/assorted_hooks/ast/check_dunder_all.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

patched duplicate key lookup
  pyproject.toml
  src/assorted_hooks/ast/check_dunder_all.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

patched duplicate keys check
  pyproject.toml
  src/assorted_hooks/ast/check_dunder_all.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

Added pyright wrapper
  .pre-commit-hooks.yaml
  src/pyright_wrapper.sh
Due: none

improved readability
  pyproject.toml
  src/lacheck_wrapper.sh
Due: pyproject-validate-version, pyproject-check-deps

patched pyright wrapper
  pyproject.toml
  src/pyright_wrapper.sh
Due: pyproject-validate-version, pyproject-check-deps

excluded protocols by default
  .pre-commit-config.yaml
  pdm.lock
  pyproject.toml
  src/assorted_hooks/ast/ast_utils.py
  src/assorted_hooks/ast/check_typing.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

fixed bug in check return union
  pyproject.toml
  src/assorted_hooks/ast/check_typing.py
  tests/assorted_hooks/check_typing/test_no_return_union.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

wip
  .idea/watcherTasks.xml
  src/assorted_hooks/ast/ast_utils.py
  src/assorted_hooks/ast/check_typing.py
Due: python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

check-concrete
  pyproject.toml
  src/assorted_hooks/ast/ast_utils.py
  src/assorted_hooks/ast/check_typing.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

check-concrete
  pyproject.toml
  src/assorted_hooks/ast/ast_utils.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

consider TypedDict not concrete
  pyproject.toml
  src/assorted_hooks/ast/ast_utils.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

exclude match case value.attr patterns from check_direct_imports
  pyproject.toml
  src/assorted_hooks/ast/ast_utils.py
  src/assorted_hooks/ast/check_direct_imports.py
  tests/assorted_hooks/check_direct_imports/__init__.py
  tests/assorted_hooks/check_direct_imports/test_direct_imports.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

added todo note
  src/assorted_hooks/scripts/pyproject_check_unmaintained.py
Due: python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

updated deps
  .pre-commit-config.yaml
  pdm.lock
  pyproject.toml
  src/assorted_hooks/ast/check_typing.py
  src/assorted_hooks/scripts/pyproject_check_unmaintained.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

Path conditions:
  pyproject-validate-version: any of: ^pyproject\.toml$ and \.toml$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  pyproject-check-deps: any of: ^pyproject\.toml$ and \.toml$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-check-clean-interface: any of: ^src/ and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  check-separator-length: any of: (^src/|^tests/) and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-no-blanket-type-ignore: any of: (^src/|^tests/) and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-no-builtin-eval: any of: (^src/|^tests/) and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-use-imported-attributes: any of: (^src/|^tests/) and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-check-no-mixed-args: any of: (^src/|^tests/) and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-check-standard-generics: any of: (^src/|^tests/) and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-check-dunder-all-exists: any of: ^src/ and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-check-typing: any of: \.py$, but not: (\.git/|\.venv/|\.idea/|\docs/_build/)
