Repository randolf-scholz/assorted-hooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

Path conditions:
  pyproject-validate-version: any of: ^pyproject\.toml$ and \.toml$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  pyproject-check-deps: any of: ^pyproject\.toml$ and \.toml$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-check-clean-interface: any of: ^src/ and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  check-separator-length: any of: (^src/|^tests/) and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-no-blanket-type-ignore: any of: (^src/|^tests/) and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-no-builtin-eval: any of: (^src/|^tests/) and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-use-imported-attributes: any of: (^src/|^tests/) and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-check-no-mixed-args: any of: (^src/|^tests/) and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-check-standard-generics: any of: (^src/|^tests/) and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-check-dunder-all-exists: any of: ^src/ and \.py$ and not ((\.git/|\.venv/|\.idea/|\docs/_build/))
  python-check-typing: any of: \.py$, but not: (\.git/|\.venv/|\.idea/|\docs/_build/)

fixed
  .pre-commit-config.yaml
Due: none

updated to newest stubs
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  assorted_hooks.svg
  src/assorted_hooks/check_dunder_all_exists.py
  src/assorted_hooks/check_imported_attributes.py
  src/assorted_hooks/check_no_mixed_args.py
  src/assorted_hooks/check_standard_generics.py
  src/assorted_hooks/check_typing.py
  src/assorted_hooks/scripts/check_clean_interface.py
  src/assorted_hooks/scripts/pyproject_check_dependencies.py
Due: python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

updated pyproject
  pyproject.toml
Due: pyproject-validate-version, pyproject-check-deps

refactorization
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  README.md
  pyproject.toml
  src/assorted_hooks/check_direct_imports.py
  src/assorted_hooks/check_dunder_all.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

wip
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  pyproject.toml
Due: pyproject-validate-version, pyproject-check-deps

fixed markdown
  .pre-commit-config.yaml
  README.md
Due: none

fixed diable 30 by default
  .pre-commit-hooks.yaml
  pyproject.toml
Due: pyproject-validate-version, pyproject-check-deps

fixed comment
  .pre-commit-config.yaml
Due: none

renamed clean-interface hook
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  README.md
  pyproject.toml
  src/assorted_hooks/scripts/pyproject_check_dependencies.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

fixed pre-commit
  .pre-commit-config.yaml
Due: none

updated hooks
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  CHANGELOG.md
  README.md
  assorted_hooks.svg
  pdm.lock
  pyproject.toml
  src/assorted_hooks/ast_utils.py
  src/assorted_hooks/check_direct_imports.py
  src/assorted_hooks/check_dunder_all.py
  src/assorted_hooks/check_no_mixed_args.py
  src/assorted_hooks/check_standard_generics.py
  src/assorted_hooks/check_typing.py
  src/assorted_hooks/parser.py
  src/assorted_hooks/scripts/check_clean_interface.py
  src/assorted_hooks/scripts/pyproject_check_dependencies.py
  src/assorted_hooks/scripts/pyproject_update_dependencies.py
  src/assorted_hooks/scripts/pyproject_validate_version.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

v0.1.59
  .pre-commit-config.yaml
Due: none

satisfied type-checker
  CHANGELOG.md
  src/assorted_hooks/ast_utils.py
  src/assorted_hooks/check_no_mixed_args.py
  src/assorted_hooks/scripts/check_clean_interface.py
  src/assorted_hooks/scripts/pyproject_check_dependencies.py
Due: python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

extended check to include ParamSpec and TypeVarTuple
  .pre-commit-config.yaml
  pyproject.toml
  src/assorted_hooks/scripts/check_clean_interface.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

update check-seperator-length
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  CHANGELOG.md
  pyproject.toml
Due: pyproject-validate-version, pyproject-check-deps

patched check-seperator length
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  pyproject.toml
Due: pyproject-validate-version, pyproject-check-deps

added rename axes to axis hook
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  CHANGELOG.md
  README.md
  pyproject.toml
Due: pyproject-validate-version, pyproject-check-deps

added rename axes to axis hook
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  CHANGELOG.md
  README.md
  pdm.lock
  pyproject.toml
Due: pyproject-validate-version, pyproject-check-deps

changed entry to use literal string
  .pre-commit-hooks.yaml
Due: none

added rule 9 and 17 to default ignore list of chktex
  .pre-commit-hooks.yaml
  CHANGELOG.md
  README.md
  pyproject.toml
  src/assorted_hooks/check_numpy.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

update .pre-commit
  .pre-commit-config.yaml
Due: none

added --check-typealias-union flag
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  pyproject.toml
  src/assorted_hooks/check_typing.py
  tests/assorted_hooks/check_typing/test_check_typealias_union.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

added check
  .pre-commit-config.yaml
  pdm.lock
  pyproject.toml
  src/assorted_hooks/check_typing.py
  tests/assorted_hooks/check_typing/test_check_typealias_union.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

removed bad idea
  CHANGELOG.md
  pdm.lock
  pyproject.toml
  src/assorted_hooks/check_typing.py
  tests/assorted_hooks/check_typing/test_check_typealias_union.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

removed bad idea
  .pre-commit-config.yaml
Due: none

wip
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  pdm.lock
  pyproject.toml
  src/assorted_hooks/ast/__init__.py
  src/assorted_hooks/ast/_clean_namespace.py
  src/assorted_hooks/ast/_unimplemented_check_tests_folder_structure.py
  src/assorted_hooks/ast/_unimplemented_check_typing_style.py
  src/assorted_hooks/ast/ast_utils.py
  src/assorted_hooks/ast/check_direct_imports.py
  src/assorted_hooks/ast/check_dunder_all.py
  src/assorted_hooks/ast/check_no_mixed_args.py
  src/assorted_hooks/ast/check_numpy.py
  src/assorted_hooks/ast/check_standard_generics.py
  src/assorted_hooks/ast/check_typing.py
  src/assorted_hooks/check_github_issues.py
  src/assorted_hooks/scripts/check_clean_interface.py
  src/assorted_hooks/scripts/pyproject_check_dependencies.py
  src/assorted_hooks/scripts/pyproject_update_dependencies.py
  src/assorted_hooks/scripts/pyproject_validate_version.py
  src/assorted_hooks/utils.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

refactor
  .pre-commit-config.yaml
  pyproject.toml
  src/assorted_hooks/check_github_issues.py
  src/assorted_hooks/scripts/pyproject_check_dependencies.py
  src/assorted_hooks/utils.py
  tests/assorted_hooks/check_typing/test_check_optional.py
  tests/assorted_hooks/check_typing/test_isinstance_union_tuple.py
  tests/assorted_hooks/check_typing/test_no_future_annotations.py
  tests/assorted_hooks/check_typing/test_no_hints_overload_implementation.py
  tests/assorted_hooks/check_typing/test_no_return_union.py
  tests/assorted_hooks/check_typing/test_overload_default_ellipsis.py
  tests/assorted_hooks/check_typing/test_pep604_union.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

fixed issue
  assorted_hooks.svg
Due: none

fixed error
  src/assorted_hooks/scripts/pyproject_check_dependencies.py
Due: python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

fixed strip version
  .pre-commit-config.yaml
  assorted_hooks.svg
  pdm.lock
  pyproject.toml
  src/assorted_hooks/scripts/pyproject_update_dependencies.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

fixed bug that prevented checking if folders with '.py' name were present
  pyproject.toml
  src/assorted_hooks/scripts/pyproject_check_dependencies.py
Due: pyproject-validate-version, pyproject-check-deps, python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

fixed bug that prevented checking if folders with '.py' name were present
  .pre-commit-config.yaml
  pyproject.toml
Due: pyproject-validate-version, pyproject-check-deps

added pyarrow-timestamp-seconds
  .pre-commit-hooks.yaml
  pyproject.toml
Due: pyproject-validate-version, pyproject-check-deps

added pyarrow-timestamp-seconds
  .pre-commit-hooks.yaml
Due: none

updated
  .pre-commit-config.yaml
Due: none

updated pre-commit
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  src/assorted_hooks/ast/check_typing.py
Due: python-check-clean-interface, check-separator-length, python-no-blanket-type-ignore, python-no-builtin-eval, python-use-imported-attributes, python-check-no-mixed-args, python-check-standard-generics, python-check-dunder-all-exists, python-check-typing

changed raw string test to check for closing brackets and comma
  .pre-commit-hooks.yaml
  pyproject.toml
Due: pyproject-validate-version, pyproject-check-deps

raw string safety: ignore strings that contain backslash
  .pre-commit-hooks.yaml
  pyproject.toml
Due: pyproject-validate-version, pyproject-check-deps

fixed groups
  .pre-commit-hooks.yaml
Due: none
